@media screen and (max-width:1200px){
    body{
        /* background-color: blue; */
    }
    .navigation{
        flex-direction: column;
        height: 20vh;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
         width: 1px 1px ;
        height: 1px 1px;
    }
    .navicon ul{
        display: flex;
justify-content: center;
align-items: center;
    }
    .search{
        padding-left: 1px;
    }
    #searchbar{
        width: 35vw;
     }
     #searchbtn{
        width: 8vw;
     }
     /* this is the cards section */
     .container{
        height: 800px;
        width: 100vw;
         flex-wrap: wrap;
     }
    
}

@media screen and (max-width:850px){
   /* body{
       background-color: black;
   } */
      .container1{
     width: 100vw;
     flex-wrap: wrap;
    height: 500px;
   }
   .container3{

    width: 100vw;
    height: 200px;
    flex-wrap: wrap;
}

}



@media screen and (max-width:615px){
    
    /* body{
        background-color: brown;
    } */
    .container{
        height: 1600px;
        width: 100vw;
        flex-direction: column;
       
     }
     
}


@media screen and (max-width:500px){
    
    #searchbar{
        width: 50vw;
    }
    #searchbtn{
        width: 15vw;
    }
    ul{
        margin-bottom: 10px;
        margin-right: 18px;
    }

/* this is the container 1 section  */

}